.instructor-layout {
	@apply w-full;
	padding: 5% 5% 5% 0;
	background-image: url(../../../../../Assets/Images/home/partners-back.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;

	.instructor-image {

		img {
			margin-right: 10px;
			border-radius: 50%;
			filter: grayscale(10%);
			max-width: 70px;
			max-height: 150px;
		}
	}

	.instructor-info {
		h2 {
			@apply mb-0;
		}

		h3 {
			color: #3b3b3b;
			@apply text-2xl;
		}
		.description2 {
			color: $tertiary !important;
		}
		.description {
			font-size: 18px !important; ;

			color: $primary !important;
		}
	}

	.logos {
		@apply flex items-center mx-auto;
		// height: 3rem;
		svg line {
			stroke: $primary !important;
		}
	}
}