.l1-tableau {
	@apply h-full w-full animate-fade-in overflow-y-auto;
	height: 92vh;
	padding: 3% 4% 1%;

	&::-webkit-scrollbar {
		width: 0.3rem;
		height: 0.3rem;
	}

	&::-webkit-scrollbar-track {
		@apply rounded bg-gray-light;
	}

	&::-webkit-scrollbar-thumb {
		@apply rounded bg-secondary;
		// background-color: #ae4b69;
	}

	h1 {
		@apply text-primary text-4xl font-semibold mb-4;
	}

	p {
		@apply w-full;
		img {
			@apply w-2/3 m-auto;
		}
		em {
			@apply w-full flex-center mt-1;
		}

		a {
			@apply text-primary hover:text-secondary transition-colors;
		}

		code {
			color: rgb(80, 161, 79);
		}
	}

	pre {
		width: 100%;
		@apply relative py-2 rounded-2xl overflow-hidden;
		code {
			@apply rounded-2xl font-normal py-2 w-full;
			font-family: 'Inter', sans-serif;
			white-space: pre-wrap !important;
		}
	}
}
