.modified-confirm-modal {
	.rs-modal-content {
		@apply flex-center flex-col rounded-3xl;
		padding-right: 3rem;
		padding-left: 3rem;
		.rs-modal-body {
			@apply mb-3;
			.modal-icon {
				background-color: rgba(255, 59, 59, 0.106);
				@apply w-12 h-12 rounded-full m-auto flex-center;
				transform: rotate(180deg);
				.fa-icon {
					fill: #ff3b3b;
					@apply w-5 absolute;
				}
			}
			.modal-text {
				@apply text-center text-xl font-medium text-black mt-3;
			}
		}

		.btn-accept {
			background-color: #ff3b3b;
			transition: background-color 0.3s;
			@apply text-white text-lg font-medium border-none px-10;
			padding-top: 0.4rem;
			padding-bottom: 0.4rem;
			border-radius: 10px;
			&:hover {
				background-color: #8a1d1d;
			}

			.fa-icon {
				@apply hidden;
			}
		}

		.btn-cancel {
			@apply text-primary bg-transparent text-lg font-medium border border-solid border-primary px-10;
			padding-top: 0.4rem;
			padding-bottom: 0.4rem;
			border-radius: 10px;
			&:hover {
				@apply bg-primary text-white;
			}
			transition: all 0.3s;
		}
	}
}
