.footer {
	@apply absolute bottom-0 py-0 flex items-center justify-between w-full;
	height: fit-content;
	background: rgba(99, 8, 46, 0.058);
	padding-left: 1.5%;
	padding-right: 1.5%;
	.footer-content {
	}

	.footer-links {
		@apply flex justify-between w-1/5;
		a {
			@apply text-tertiary text-sm cursor-pointer hover:text-primary transition-colors;
		}
	}

	.footer-logos {
		@apply flex py-1.5;
		height: 3rem;
		svg line {
			stroke: $primary !important;
		}
	}
}
